*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html{
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;

}


main{

  background: #009FFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   min-height: 100vh;

align-items: center;

justify-content: center;
}


.container{

position: relative;

}



#form {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    position: absolute;
     top: 200px;
    right: 0;
    left: 0;
    width: 200px;
    margin: -156px auto 0 auto;
    
    display: grid;
    place-items: center;
    width: 300px;
    height: 472px;
    padding: 25px;
    background-color: #161616;
    box-shadow: 0px 15px 60px #3916ff;
    outline: 1px solid #0039b4;
    border-radius: 10px;
  }
  
  #form-body {
    position: absolute;
    
    top: 40%;
    right: 25px;
    left: 25px;
    width: 230px;
    margin: -156px auto 0 auto;
  }
  
  #welcome-lines {
    text-align: center;
    line-height: 1;
    
  }
  
  #welcome-line-1 {
    color: #fffb00;
    font-weight: 600;
    font-size: 40px;
  }
  
  #welcome-line-2 {
    color: #ffffff;
    font-size: 18px;
    margin-top: 17px;
  }
  
  #input-area {
    margin-top: 40px;
  }
  
  .form-inp {
    padding: 11px 25px;
    background: transparent;
    border: 1px solid #e3e3e3;
    line-height: 1;
    border-radius: 8px;
  }
  
  .form-inp:focus {
    border: 1px solid #000000;
  }
  
  .form-inp:first-child {
    margin-bottom: 15px;
  }
  
  .form-inp input {
    width: 100%;
    background: none;
    font-size: 13.4px;
    color: #00FF7F;
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .form-inp input:focus {
    outline: none;
  }
  
  #submit-button-cvr {
    margin-top: 20px;
  }
  
  #submit-button {
    display: block;
    width: 100%;
    color: #ff0000;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border: 0;
    outline: 1px solid #00FF7F;
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out .3s;
  }
  
  #submit-button:hover {
    transition: all ease-in-out .3s;
    background-color: #611eff;
    color: #161616;
    cursor: pointer;
  }
  
  #forgot-pass {
    text-align: center;
    margin-top: 10px;
  }
  
  #forgot-pass a {
    color: #868686;
    font-size: 12px;
    text-decoration: none;
  }
  
  #bar {
    position: absolute;
    left: 50%;
    bottom: -50px;
    width: 28px;
    height: 8px;
    margin-left: -33px;
    background-color: #00FF7F;
    border-radius: 10px;
  }
  
  #bar:before,
  #bar:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #ececec;
    border-radius: 50%;
  }
  
  #bar:before {
    right: -20px;
  }
  
  #bar:after {
    right: -38px;
  }
  
      

  .share {
    display: flex;
    flex-direction: row;
    gap: 1em;
    transition: .4s ease-in-out;
    margin-top: 400px;
  }
  




  .btn1 {
    position: relative;
    width: 3em;
    height: 3em;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition: .4s all;
    font-size: 14px;
  }
  
  .btn1 .instagram {
    margin-top: 0.3em;
    margin-left: 0.3em;

    fill: #cc39a4;
  }
  
  .btn1 .tooltiptext1 {
    visibility: hidden;
    width: 6em;
    height: 8em;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    position: absolute;
    left: -1.5em;
    top: -8em;
    z-index: 1;
    transition: .1s ease-in-out;
  }
  
  .btn1 .tooltiptext1 .card .img1 {
    width: 4em;
    height: 4em;
    
  }
  
  .btn1 .tooltiptext1 .account {
    margin-top: 1em;
  }
  
  .btn1 .tooltiptext1 .username {
    font-size: 0.7em;
    margin-top: 1.6em;
    font-weight: bold;
  }
  
  .btn1:hover .tooltiptext1 {
    transform: translateY(-1em);
    visibility: visible;
  }
  
  .btn1:hover {
    background-color: #cc39a4;
  }
  
  .btn1:hover .instagram {
    fill: white;
  }
  
  .btn2 {
    position: relative;
    width: 3em;
    height: 3em;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition: .4s all;
  }
  
  .btn2 .twitter {
    margin-top: .25em;
    margin-left: .1em;
    fill: #03A9F4;
  }
  
  .btn2 .tooltiptext2 {
    visibility: hidden;
    width: 6em;
    height: 8em;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    position: absolute;
    left: -1.5em;
    top: -8em;
    z-index: 1;
    transition: .1s ease-in-out;
  }
  
  .btn2 .tooltiptext2 .card .img2 {
    width: 4em;
    height: 4em;
    background-color: white;
  }
  
  .btn2 .tooltiptext2 .account {
    margin-top: 1em;
  }
  
  .btn2 .tooltiptext2 .username {
    font-size: 0.6em;
    margin-top: 1.6em;
    font-weight: bold;
  }
  
  .btn2:hover .tooltiptext2 {
    transform: translateY(-1em);
    visibility: visible;
  }
  
  .btn2:hover {
    background-color: #03A9F4;
  }
  
  .btn2:hover .twitter {
    fill: white;
  }
  
  .btn3 {
    position: relative;
    width: 3em;
    height: 3em;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition: .4s all;
  }
  
  .btn3 .tooltiptext3 {
    visibility: hidden;
    width: 6em;
    height: 8em;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    position: absolute;
    left: -1.5em;
    top: -8em;
    z-index: 1;
    transition: .1s ease-in-out;
  }
  
  .btn3 .tooltiptext3 .card {
    width: 4em;
    height: 4em;
    background-color: white;
  }
  
  .btn3 .tooltiptext3 .account {
    margin-top: 1em;
  }
  
  .btn3 .tooltiptext3 .username {
    font-size: 0.7em;
    margin-top: 1.6em;
    font-weight: bold;
  }
  
  .btn3:hover .tooltiptext3 {
    transform: translateY(-1em);
    visibility: visible;
  }
  
  .btn3:hover {
    background-color: black;
  }
  
  .btn3:hover .git {
    fill: white;
  }